.imageChief {
  height: 260px;
  width: 250px;
  border-radius: 0;
}
.affichage {
  background-color: #131b23;
  width: 250px;
  border-radius: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.cardElement {
  height: 350px;
  width: 250px;
  text-align: center;
  border: none;
  border-left: solid 9px #c8d600;
  border-radius: 0;
}

.card-border {
  border-radius: 0;
}

.text-card {
  line-height: 0.7;
  padding-top: 5px;
}
