@font-face {
  font-family: "KoratakiW01-Book";
  src: url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.eot");
  src: url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.svg#KoratakiW01-Book")
      format("svg");
}

.twitch-container .logo-evo {
  height: 70px;
}

.bg-twitch {
  padding: 50px 0 70px 0;
  background: url("https://firebasestorage.googleapis.com/v0/b/react-project-team-evo.appspot.com/o/WebTvImage%2Ftwich123.png?alt=media&token=0bcb1354-f64a-4c58-ad3d-e585c0c0fc81");
}

.tv-buttons img {
  height: 50px;
}

.tv-buttons {
  background: #0b0f14;
}

.streamers-title {
  background: linear-gradient(to bottom, #ebebec 60%, #aaaaaa);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.streamers {
  font-family: "KoratakiW01-Book";
  font-style: italic;
  font-weight: bold;
  background: #0b0f14;
}

.color-white {
  color: #e0e0e1;
}

.hoverPlayer:hover,
.hoverPlayer:hover svg {
  color: #c8d600 !important;
}

.activePlayer {
  color: #c8d600;
  scroll-behavior: "smooth";
}
