.partnersbloc {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #131b23;
}

.partnersbloc .width30 {
  width: 30%;
}

.partnersbloc .center {
  text-align: center;
}

.partnersbloc img {
  height: 40px;
  
}
