.detail-text h3 {
  padding: 0 10px;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  color: #c8d600;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}
.detail-text p {
  padding: 0 10px;
  text-align: justify;
  line-height: 1.5;
}
