.logo-partner {
  height: 80px;
}

.partner-website {
  font-family: "Bebas neue";
  letter-spacing: 0.5vw;
  font-size: 15px;
  color: white;
}

.partner-links {
  margin: 5rem auto;
}

.partner-links a {
  margin: 0.5rem;
}

.partner-links a:hover {
  text-decoration: none;
  color: #c8d600;
}

.row-img {
  height: 100%;
  min-height: 200px;
}

.bloc-partner {
  border-bottom: solid 3px #c8d600;
}

.bloc-partner button,
.bloc-partner2 button {
  margin: auto;
}

.bloc-partner2 {
  background-repeat: no-repeat;
  background-size: 19rem;
  background-blend-mode: luminosity;
  background-color: #131b23;
  background-position: top right;
  border-bottom: solid 3px #c8d600;
}

.bg-first {
  background-color: #0b0f14;
  background-repeat: no-repeat;
  background-size: 23rem;
  background-blend-mode: luminosity;
}

.social-partner {
  color: white;
}

.social-partner:hover {
  color: #c8d600;
}

.bloc-partner button,
.bloc-partner2 button,
.bloc-partner button:active,
.bloc-partner2 button:active,
.bloc-partner button:focus,
.bloc-partner2 button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}
