.cdpr-item h6 {
  text-decoration: underline;
  color: #c8d600;
  font-weight: bold;
  font-size: 17px;
}

.cdpr-item p {
  font-size: 17px;
  font-weight: 420;
  text-align: justify;
  text-transform: lowercase;
  padding-top: 6px;
}
