.navbarcustom {
  z-index: 2;
  background-color: #131b23;
  border-bottom: solid 6px #c8d600;
  font-family: "Bebas Neue", cursive;
}

.navbarcustom .logo-rond {
  height: 30px;
  padding-right: 10px;
  margin-top: -3px;
}

.navbarcustom .logo-evo {
  height: 35px;
  margin-top: -20px;
}

.navbarcustom a {
  padding-top: 0;
}

.white {
  color: white;
  font-weight: 500;
}
.white:hover {
  text-decoration: none;
}

.active {
  color: #c8d600;
}

.navbarcustom a {
  margin-top: 5px;
}

.navbarcustom a:hover {
  color: #c8d600;
  margin-top: 5px;
  background-color: #131b23;
}

.navlink {
  margin: 5px 5px 0 5px;
  padding-right: 19px;
}

.drop-down .nav-link {
  color: white !important;
}

.navlink {
  margin-top: 5px;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: #131b23;
  z-index: 1;
}

.dropdown-color a {
  color: white;
}

.dropdown-menu {
  background-color: #131b23 !important;
  padding-left: 5px;
}

.drop-down-content a {
  text-decoration: none;
  display: block;
  padding: 0px 14px;
}

.dropdown-color a:hover {
  text-decoration: none;
  color: #c8d600;
}

.dropdown-color a:focus {
  box-shadow: none;
  text-decoration: none;
  color: #c8d600;
}
svg {
  transition: transform 0.5s;
}
svg:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 950px) {
  .about-button {
    padding-left: 5px;
  }
}
