@font-face {
  font-family: "KoratakiW01-Book";
  src: url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.eot");
  src: url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.svg#KoratakiW01-Book")
      format("svg");
}

.headerCdpr {
  font-style: italic;
  text-align: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/react-project-team-evo.appspot.com/o/HomeImage%2Favaa-06-25.png?alt=media&token=a50f9414-1697-4dac-b033-96f14e320b19");
  background-size: 100% 320%;
  background-position: center 35%;
  background-repeat: no-repeat;
  border-bottom: solid 2px #c8d600;
}

.headerCdpr h3 {
  font-family: "KoratakiW01-Book";
  font-size: 30px;
  margin: 0;
  letter-spacing: 10px;
  line-height: 1.2;
  font-weight: bold;
}

.yellowColor {
  color: #c8d600;
}
