.footer {
  /* display: flex; */
  font-size: 14px;
  color: white;
  /* justify-content: center; */
  /* padding: 20px 0 30px 0; */
  background-color: #0c1217;
  border-top: solid 6px #c8d600;
  font-family: "Bebas Neue", cursive;
}

.width75 {
  width: 75%;
}

.footer img {
  height: 25px;
}

.footer h2 {
  font-size: 20px;
}

.footer a {
  font-size: 15px;
  color: gray;
}

.footer a:hover {
  text-decoration: none;
  color: #c8d600;
}

.footer ul {
  padding: 0;
  list-style: none;
}
