.sideBar {
  position: fixed;
  height: 100vh;
  width: 5vh;
  top: 0;
  right: 0;
  padding-top: 45vh;
  padding-right: 10vh;
}
.sideBar div {
  width: 5vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.sideBar a {
  width: 5vh;
  text-align: center;
}

@media screen and (min-width: 1720px) {
  .bg-left {
    background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2FAAA-EOS2019-12.jpg?alt=media&token=1a75e6a8-086b-440c-8e9e-7b75522f455f");
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 66vh;
    height: 56vh;
    background-repeat: no-repeat;
    background-position: 45% 10%;
    top: -2vh;
    background-size: 200%;
    position: fixed;
    z-index: -100;
    right: 56vh;
  }

  .bg-top {
    background: url("https://firebasestorage.googleapis.com/v0/b/react-project-team-evo.appspot.com/o/HomeImage%2FAAA-EOS2019-2.jpg?alt=media&token=da4c61d1-01d0-4a80-9d60-87b109695f19");
    -webkit-clip-path: polygon(51% 0, 0% 100%, 100% 100%);
    clip-path: polygon(52% 0, 0% 100%, 100% 100%);
    width: 64vh;
    height: 56vh;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 45% 0%;
    top: -3vh;
    position: fixed;
    z-index: -100;
    right: 22vh;
  }

  .bg-bottom {
    background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2F2018GA-aAa-L10.jpg?alt=media&token=69b85bc3-2346-49fd-9c24-a5cba47ca7b5");
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 66vh;
    height: 56vh;
    top: 55vh;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 60% 230%;
    position: fixed;
    z-index: -100;
    right: 22vh;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1720px) {
  .bg-left {
    background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2FAAA-EOS2019-12.jpg?alt=media&token=1a75e6a8-086b-440c-8e9e-7b75522f455f");
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 70vh;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: 45% 10%;
    top: -2vh;
    background-size: 200%;
    position: fixed;
    z-index: -100;
    right: 56vh;
  }

  .bg-top {
    background: url("https://firebasestorage.googleapis.com/v0/b/react-project-team-evo.appspot.com/o/HomeImage%2FAAA-EOS2019-2.jpg?alt=media&token=da4c61d1-01d0-4a80-9d60-87b109695f19");
    -webkit-clip-path: polygon(51% 0, 0% 100%, 100% 100%);
    clip-path: polygon(52% 0, 0% 100%, 100% 100%);
    width: 68vh;
    height: 60vh;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 45% 0%;
    top: -3vh;
    position: fixed;
    z-index: -100;
    right: 20vh;
  }

  .bg-bottom {
    background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2F2018GA-aAa-L10.jpg?alt=media&token=69b85bc3-2346-49fd-9c24-a5cba47ca7b5");
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 70vh;
    height: 60vh;
    top: 59vh;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 70% 140%;
    position: fixed;
    z-index: -100;
    right: 20vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .bg-left {
    background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2FAAA-EOS2019-12.jpg?alt=media&token=1a75e6a8-086b-440c-8e9e-7b75522f455f");
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 72vh;
    height: 62vh;
    background-repeat: no-repeat;
    background-position: 45% 10%;
    top: -2vh;
    background-size: 200%;
    position: fixed;
    z-index: -100;
    right: 56vh;
  }

  .bg-top {
    background: url("https://firebasestorage.googleapis.com/v0/b/react-project-team-evo.appspot.com/o/HomeImage%2FAAA-EOS2019-2.jpg?alt=media&token=da4c61d1-01d0-4a80-9d60-87b109695f19");
    -webkit-clip-path: polygon(51% 0, 0% 100%, 100% 100%);
    clip-path: polygon(52% 0, 0% 100%, 100% 100%);
    width: 70vh;
    height: 62vh;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 45% 0%;
    top: -3vh;
    position: fixed;
    z-index: -100;
    right: 19vh;
  }

  .bg-bottom {
    background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2F2018GA-aAa-L10.jpg?alt=media&token=69b85bc3-2346-49fd-9c24-a5cba47ca7b5");
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 72vh;
    height: 62vh;
    top: 61vh;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 70% 140%;
    position: fixed;
    z-index: -100;
    right: 19vh;
  }
}
.section {
  padding-top: 30vh;
  position: relative;
  margin: 0 90px;
  height: 100%;
}

.title {
  border-bottom: solid 6px #c8d600;
  margin-right: 6vh;
}
.sideBar svg {
  margin-left: 20px;
  margin: 5px 20px;
  height: 10px;
}
.sideBar a svg {
  height: 20px;
}

.weAre {
  color: #ebebeb;
  letter-spacing: 0.6rem;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.title-evo .yellow-title {
  color: #c8d600;
  padding-left: 80px;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.second-title {
  border-bottom: 8px solid #c8d600;
  display: inline;
  font-style: italic;
  font-size: 18px;
}

.title-evo {
  font-family: "KoratakiW01-Book";
}

.btn-evo {
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: #c8d600;
  border-radius: 0;
  color: black !important;
  font-family: "Bebas Neue";
  font-size: 30px;
  padding: 3px 30px 0 30px;
  line-height: 35px;
}

.btn-evo:hover,
.btn-evo:active,
.btn-evo:focus {
  background-color: #c8d600;
  color: black;
}

.paragraph {
  text-align: justify;
  margin-bottom: 100px;
  font-size: 16px;
}
.home-container {
  margin-top: -62px;
  max-height: 712px;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 900px) {
  .section {
    margin: 0;
    padding-top: 22vh;
  }
}
