@font-face {
  font-family: "KoratakiW01-Book";
  src: url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.eot");
  src: url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/48e636ffd3ced89c8f6aa4b7ddfa9bca.svg#KoratakiW01-Book")
      format("svg");
}

.achievement-title h1 {
  font-family: "KoratakiW01-Book";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px;
  padding-top: 20px;
  font-style: italic;
  margin-bottom: 0;
  color: #ebebeb;
  text-align: center;
}

.achievement-title h2 {
  font-family: "KoratakiW01-Book";
  font-size: 26px;
  padding-top: 0;
  color: #ebebeb;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .achievement-title h1 {
    font-size: 20px !important;
  }
  .achievement-title h2 {
    display: none;
  }
}

.hashtag-little {
  font-size: 44px;
  position: relative;
  top: 10px;
  margin-right: 8px;
}

.bg-cup {
  background: url("https://firebasestorage.googleapis.com/v0/b/react-project-team-evo.appspot.com/o/AchievementImg%2Favaa-04-25.png?alt=media&token=3c9c0fca-f88e-490e-9bcf-4db6fd998e5a");
  background-position: 50% 35%;
}
