.bg-overwatch {
  background: no-repeat bottom
    url(https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/PlayersImage%2Ffond-overwatch.png?alt=media&token=f27115c8-887e-41cd-9c41-d277e3933c77);
  background-size: 100% 120%;
}

.teams-header h2 {
  color: white;
  padding: 0;
  margin: 0 0 0 5px;
}

.gameImage {
  height: 40px;
  opacity: 0.5;
}

.bg-game {
  background-color: #131b23;
}

.btn-game:focus {
  box-shadow: none;
}

.activeGame .gameImage {
  opacity: 1;
}

.titleAchievements {
  background-color: #c8d600;
  color: black;
  letter-spacing: 0.3rem;
  line-height: 0.8;
  padding-right: 0.7rem;
  padding-top: 0.2rem;
}

.yellowBox {
  height: 23px;
  width: 8px;
  position: relative;
  top: 5px;
  margin-right: 9px;
  margin-left: 30px;
  background-color: #c8d600;
}

@media screen and (max-width: 600px) {
  .yellowBox {
    display: none;
  }
}

.rightPosition {
  position: absolute;
  right: 0;
}

.policeTitle {
  font-family: "Bebas Neue", cursive;
  margin: 0 30px 0 10px;
  overflow: hidden;
}

.rightPosition a:hover {
  text-decoration: none;
}
