.about-content {
  display: flex;
  overflow: hidden;
}
.about-content img {
  height: 320px;
  margin: 15px 0 20px 0;
}

.divImage h1 {
  text-align: right;
}

.about-content h1 {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
}

.about-content p {
  font-size: 20px;
  font-weight: 1;
  text-align: justify;
}

.divImage {
  padding: 5px 15px;
  width: 600px;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 600px) {
  .yellowBox-left {
    height: 23px;
    width: 8px;
    position: relative;
    top: 12px;
    margin-right: 5px;
    background-color: #c8d600 !important ;
  }

  .yellowBox-right {
    height: 23px;
    width: 8px;
    position: relative;
    top: 12px;
    margin-left: 5px;
    background-color: #c8d600 !important ;
  }
}
@media screen and (max-width: 600px) {
  .yellowBox-left {
    height: 23px;
    width: 8px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    background-color: #c8d600 !important ;
  }

  .yellowBox-right {
    height: 23px;
    width: 8px;
    position: relative;
    top: 4px;
    margin-left: 5px;
    background-color: #c8d600 !important ;
  }
  .about-content {
    display: flex;
  }
  .divImage {
    width: auto;
  }
  .about-content {
    display: flex;
    overflow: auto;
  }
}
