body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #02060c !important;
  color: white !important;
  padding-top: 62px;
}

a:hover {
  color: greenyellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Bebas Neue", monospace;
}
.notFound {
  height: 70vh;
  max-width: 100%;
  text-align: center;
}
.notFound h1 {
  font-family: "Bebas Neue";
  letter-spacing: 0.1rem;
  margin: 5rem auto 4rem auto;
  font-size: 3rem;
}
.notFound a {
  font-family: "Bebas Neue";
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  transition: 0.2s;
  color: #c8d600 !important;
  text-decoration: none;
  font-size: 1.3rem;
}
