.bg-text {
  background-color: #131b23;
}
.big-box {
  background-color: #c8d600;
  width: 10px;
  height: 28px;
  padding-top: 0;
  margin-right: 4px;
  margin-top: 7px;
}
.little-box {
  background-color: #c8d600;
  width: 10px;
  height: 20px;
  padding-top: 15px;
  margin-right: 4px;
  margin-top: 5px;
}

.text-content {
  background-color: #131b23;
  text-align: justify;
}

.titles .staff-title {
  padding-top: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}

.titles h3 {
  font-family: "Bebas Neue", cursive;
}

.little-title {
  font-size: 20px;
  position: relative;
  top: 10px;
  margin-right: 8px;
  color: #ebebeb;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
  font-family: "KoratakiW01-Book";
}

.little-title .yellow-title {
  color: #c8d600;
  letter-spacing: 2px;
  font-family: "KoratakiW01-Book";
  font-size: 20px;
}

.little-title .hashtag {
  font-size: 30px;
  position: relative;
  top: 5px;
}

.nickName {
  color: #c8d600;
  font-family: Bebas Neue;
}
